# server
# bin folder
ClashServer/bin/Release/
ClashServer/bin/Debug/ProjectTwoServer.*
ClashServer/bin/Debug/Server.*

# obj folder
ClashServer/obj/
ClashServer/obj/x86/Debug/ProjectTwoServer.*
ClashServer/obj/x86/Debug/Server.*
ClashServer/obj/x86/Debug/Temporary*

# others
ClashServer/.vs/
ClashServer/ClashServer.userprefs
ClashServer/obj/x86/Debug/ClashServer.csproj.FilesWrittenAbsolute.txt
ClashServer/LogFiles/
ClashServer/bin/Debug/LogFiles/


# client
ClashClient/LogFiles/
ClashClient/PersistentLogFiles/
ClashClient/Assets/VSCode*

node_modules/
